/* ===========================
   BARRA LATERAL
=========================== */

#barra_lateral{

    position:sticky;

    top:70px;
    left:0;

    width:250px;
    height:calc(100vh - 70px);

    background:var(--sidebar);

    display:flex;
    flex-direction:column;

    padding:22px 14px;

    overflow:auto;

    box-shadow:var(--shadow-);
}

/* Scroll */

#barra_lateral::-webkit-scrollbar{

    width:5px;
}

#barra_lateral::-webkit-scrollbar-thumb{

    background:#374151;

    border-radius:50px;
}

/* ===========================
   TÍTULO
=========================== */

.menu-title{

    color:#6B7280;

    font-size:.72rem;

    letter-spacing:2px;

    margin:0 0 20px 12px;

    font-weight:700;
}

/* ===========================
   ENLACES
=========================== */

#barra_lateral a{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 18px;

    margin-bottom:4px;

    text-decoration:none;

    color:var(--text-muted);

    border-radius:12px;

    transition:.18s;

    font-weight:500;
}

#barra_lateral a:hover{

    background:var(--sidebar-hover);

    color:white;
}

#barra_lateral a.activo{

    background:var(--sidebar-active);

    color:white;
}

/* Enlace activo */

#barra_lateral a.activo{

    background: var(--color-base);
    color: var(--color-azulE);

    font-weight: bold;
}

/* ===========================
   RESPONSIVE
=========================== */

@media (max-width:992px){

    #barra_lateral{

        width:220px;
    }

}

@media (max-width:768px){

    #barra_lateral{

        position: fixed;

        top:70px;
        left:-260px;

        width:250px;
        height:calc(100vh - 70px);

        z-index:1000;

        transition:left .35s ease;
    }

    #barra_lateral.mostrar{

        left:0;
    }

}

@media (max-width:480px){

    #barra_lateral{

        width:220px;
    }

    #barra_lateral a{

        font-size:.9rem;
        padding:10px 12px;
    }

}