header{
    width: 100%;
    height: 80px;
    background: var(--color-base);
    color: var(--color-neutro);

    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100;
}

#navegacion .contenedor{
    width: 98%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 15px;
}

#navegacion .contenedor .GBV p,
#navegacion .contenedor .MPPE p{
    font-size: 35px;
    margin-left: 20px;
    color: var(--color-intermitente);
}

#navegacion .contenedor .UPT,
#navegacion .contenedor .MPPE,
#navegacion .contenedor .GBV{
    display: flex;
    align-items: center;
}

#navegacion .contenedor h1{
    font-size: 15px;
    margin: 0;
    white-space: nowrap;
}

#navegacion .contenedor img{
    height: 65px;
    width: auto;
    margin-right: 5px;
}

/* DIVISION DE LA BARRA */

#navegacion .contenedor_barra{
    background: var(--color-azulE);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU PRINCIPAL */
#navegacion .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ITEMS */
#navegacion .nav-item{
    position: relative;
}

/* ENLACES */
#navegacion .nav-link{
    text-decoration: none;
    color: var(--color-base);
    font-size: 15px;
    font-weight: 500;
    padding: 12px 15px;
    display: block;
}

#navegacion .nav-link:hover{
    color: var(--color-hover-azulE);
}

/* SUBMENU */
#navegacion .dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    background: var(--color-base);
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    list-style: none;
    padding: 8px 0;
    z-index: 999;
}

/* MOSTRAR AL PASAR EL CURSOR */
#navegacion .nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

/* OPCIONES DEL SUBMENU */
#navegacion .dropdown-item{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

#navegacion .dropdown-item:hover{
    background: var(--color-intermitente);
    color: var(--color-hover-azulE);
}

#navegacion .contenedor_barra .btn_acceder{
    background: var(--color-botones);
    padding: 8px 16px;
    border-radius: 2rem;
    font-weight: bold;
    color: var(--color-neutro);
    text-decoration: none;
    transition: .3s ease;
}

#navegacion .contenedor_barra .btn_acceder:hover{
    background: var(--color-neutro);
    color: var(--color-base);
}