#footer{
    background: var(--color-base);
    color: var(--color-neutro);
    padding: 20px 0;
    border-top: 20px solid var(--color-azulE);
}

#footer .footer-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

#footer .footer-logo img{
    width: 80px;
    height: auto;
}

#footer .footer-texto{
    flex: 1;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px;
    color: var(--color-neutro);
}

#footer .footer-redes{
    display: flex;
    gap: 15px;
    font-size: 22px;
}

#footer .footer-redes a{
    color: var(--color-neutro);
    transition: 0.3s;
}

#footer .footer-redes a:hover{
    color: var(--color-hover-azulE);
    transform: scale(1.2);
}