{% extends 'Estructura/base.html' %}
{% block content %}
{% load static %}

<section id="registrar_personal">
    <div class="tarjeta_principal">
        <!-- ================= LADO IZQUIERDO ================= -->
        <div class="lado_izquierdo">
            <div class="separador">
                <a href="{% url 'panel_registro' %}" class="btn-regresar icon-left-open">Regresar</a>
            </div>

            <img src="{% static 'Imagenes/personal_administrativo.png' %}" alt="Personal">
            
            <p>El presente formulario está destinado a los Docentes, Coordinadores de PNFs y los encargados del Control de Estudio.</p>
            <p>Debe estar previamente registrado; si aún no lo está, debe dirigirse al Director General.</p>
        </div>

        <!-- ================= LADO DERECHO ================= -->
        <div class="lado_derecho">
            <form method="post" id="buscar_usuario" class="contenedor_busqueda">
                <h3>Registro Personal</h3>
                {% csrf_token %}
                <label for="cedula_identidad">Ingrese su cédula de identidad</label>
                <div class="grupo-input">
                    <select name="nacionalidad" id="nacionalidad" class="nacionalidad">
                        <option value="">N</option>
                        <option value="V">V</option>
                        <option value="E">E</option>
                    </select>
                    <input type="text" name="usuario_ci" autocomplete="off" id="cedula_identidad" class="cedula_identidad">
                </div>
                <input type="submit" id="comprobar_usuario" value="Validar">
            </form>


            <form method="post" id="formulario_registrar_credenciales">
                <label for="nombre_usuario" id="label_nombre_usuario" hidden>Ingrese el nombre de usuario</label>   
                <input type="text" name="nombre_usuario" autocomplete="off" id="nombre_usuario" hidden>
                <div class="input-group password-group">
                    <label for="password" id="label_password" hidden>Ingrese la contraseña</label>
                    <input type="password" name="password_usuario" autocomplete="off" id="password" hidden>

                    <i class="icon-eye icon-password" id="mostrar_password" hidden></i>
                    <i class="icon-eye-off icon-password" id="ocultar_password" hidden></i>
                </div>

                <div class="seguridad-password" id="bar_contrasenia" hidden>
                    <div class="barra-password">
                        <div id="nivel_password"></div>
                    </div>
                    <span id="texto_password">
                        Seguridad de la contraseña
                    </span>
                </div>

                <input type="submit" id="guardar_credenciales" value="Guardar" hidden>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'Funcionalidades/contrasenia.js' %}"></script>
<script src="{% static 'Funcionalidades/cedula_identidad.js' %}"></script>
<script src="{% static 'Funcionalidades/validar_contrasenia.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/comprobar_personal.js' %}"></script>

{% endblock %}