{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="recuperar_contrasenia">
    <div class="tarjeta-contrasenia">
        <img src="{% static 'Imagenes/nueva_contrasenia.png' %}" alt="imagen para recuperar nueva contraseña">
        <h3>Cambiar Contraseña</h3>

        <form method="post" id="formulario_registrar">
            {% csrf_token %}
            
            <div class="contrasenia grupo-campo">
                <input type="password" name="nueva_contrasenia" id="password" placeholder="Nueva contraseña">
                <input type="checkbox" id="oculta_aparecer">
                <i class="icon-eye icon-password" for="oculta_aparecer"></i>
                <i class="icon-eye-off icon-password" for="oculta_aparecer"></i>
            </div>

            <div class="contrasenia grupo-campo">
                <input type="password" name="confirmar_contrasenia" id="confirmar_password" placeholder="Confirmar contraseña">
                <input type="checkbox" id="confirmar_ocultar_password">
                <i class="icon-eye icon-password" for="confirmar_ocultar_password"></i>
                <i class="icon-eye-off icon-password" for="confirmar_ocultar_password"></i>
            </div>

            <button type="submit">Cambiar</button>
        </form>
    </div>
</section>

<script src="{% static 'Funcionalidades/contrasenia.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/Credenciales/actualizar_password.js' %}"></script>

{% endblock %}