{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="registrar_administrativo">
    <div class="contenedor_personal_administrativo">
        <div class="contenedor-info-personal-administrativo">
            <img src="{% static 'Imagenes/personal_administrativo.png' %}" alt="Personal Administrativo">
            <p>El presente formulario esta destinado a los Docentes, Coordinadores de PNFs y los encargados del Control de Estudio</p>
            <p>Debe de estar previamente registrado, sino estas registrada debe de ir al director general.</p>
        </div>
        
        <form method="post" id="buscar_usuario">
            <h3>Registro Personal</h3>
            {% csrf_token %}

            <label for="cedula_identidad" id="label_CI">Ingresa tú cedula de identidad:</label>    
            <div class="grupo-input">
                <select name="nacionalidad" id="nacionalidad">
                    <option value="">N</option>
                    <option value="V">V</option>
                    <option value="E">E</option>
                </select>
                <input type="text" name="usuario_ci" autocomplete="off" id="cedula_identidad">
            </div>
            <input type="submit" id="comprobar_usuario" value="Validar">
        </form>
        
        <form method="post" id="formulario_registrar_credenciales">
            {% csrf_token %}
            <label for="nombre_usuario" id="label_nombre_usuario" hidden>Ingrese el nombre de usuario:</label>
            <input type="text" name="nombre_usuario" autocomplete="off" id="nombre_usuario" hidden>

            <div class="input-group password-group">
                <label for="password" id="label_password" hidden>Ingrese la contraseña</label>
                <input type="password" name="password_usuario" autocomplete="off" id="password" hidden>

                <i class="icon-eye icon-password" id="mostrar_password" hidden></i>
                <i class="icon-eye-off icon-password" id="ocultar_password" hidden></i>
            </div>

            <div class="seguridad-password" id="bar_contrasenia" hidden>
                <div class="barra-password">
                    <div id="nivel_password"></div>
                </div>
                <span id="texto_password">Seguridad de la contraseña</span>
            </div>

            <input type="submit" id="guardar_credenciales" value="Guardar" hidden>
        </form>
    </div>
</section>

<script src="{% static 'Funcionalidades/contrasenia.js' %}"></script>
<script src="{% static 'Funcionalidades/cedula_identidad.js' %}"></script>
<script src="{% static 'Funcionalidades/validar_contrasenia.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/comprobar_personal.js' %}"></script>

{% endblock %}