{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_horario_academico">
    <div class="contenedor_horario_academico">
        <h3>Horario Académico</h3>

        <form method="post" id="formulario_registrar_horario">
            {% csrf_token %}
            <div class="campo">
                <label>Núcleo</label>
                <select id="nucelos_registrados" name="nucleos"></select>
            </div>

            <div class="campo">
                <label>P.N.F.</label>
                <select id="pnfs_registrados" name="pnfs"></select>
            </div>

            <div class="campo">
                <label>Trayecto</label>
                <select id="trayectos_registrados" name="trayecto"></select>
            </div>

            <div class="campo">
                <label>Periodo Académico</label>
                <select id="periodos_academicas_registrados" name="periodo"></select>
            </div>

            <div class="campo">
                <label>Aula Académica</label>
                <select id="aulas_registrados" name="aulas"></select>
            </div>

            <div class="campo">
                <label>Turno Académico</label>
                <select id="turno_academica" name="turno"></select>
            </div>

            <div class="campo">
                <label>Cantidad de Filas</label>
                <input type="number" id="cantidad_fila" name="filas">
            </div>

            <div class="campo boton">
                <button id="generar_pdf">
                    Generar PDF
                </button>
            </div>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
            </thead>

            <tbody id="contenedor_horario">

            </tbody>
        </table>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/modelo_horario_academico.js' %}"></script>

{% endblock %}