{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}
<section id="inicio_sesion">
    <div class="login-card-horizontal">

        <div class="login-left">
            <img src="{% static 'Imagenes/autenticacion.png' %}" alt="imagen para el formulario de autenticación">
        </div>

        <div class="login-right">
            
            <form method="post" id="formulario_login">
                <h3 class="titulo">Inicio de Sesión</h3>
                {% csrf_token %}

                <div class="input-group">
                    <label for="input_usuario">Nombre de Usuario:</label>
                    <input type="text" name="usuario" autocomplete="off" id="input_usuario" class="input-control" placeholder="Nombre de Usuario" required>
                </div>

                <div class="input-group password-group">
                    <label for="password">Contraseña:</label>

                    <div class="password-wrapper">
                        <input type="password" name="contrasenia" autocomplete="off" id="password" class="input-control password-input" placeholder="Contraseña" required>

                        <i class="icon-eye icon-password" id="mostrar_password"></i>
                        <i class="icon-eye-off icon-password" id="ocultar_password"></i>
                    </div>
                </div>

                <div class="button-group">
                    <button type="submit" class="login-button">Acceder</button>
                </div>
            </form>

            <div class="texto-registro">
                <p>¿Olvidaste tus credenciales? <a href="{% url 'buscar_usuario' %}">Haz clic aquí</a></p>
            </div>

            <div class="texto-registro">
                <p>¿No te has registrado? <a href="{% url 'panel_registro' %}">Haz clic aquí</a></p>
            </div>

        </div>
    </div>
</section>

<script src="{% static 'Funcionalidades/contrasenia.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/autenticación.js' %}"></script>

{% endblock %}