{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="inscripcion">
    <h4>Inscripción de Estudiante</h4>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>CI</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="contenedor_pre_inscripcion">

        </tbody>
    </table>
</section>

<script src="{% static 'Funcionalidades/estudiante_pre_inscrito.js' %}"></script>

{% endblock %}