{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="panel_registro">

    <div class="registro_personal">
        <a href="{% url 'confirmar_registro_personal' %}">
            <img src="{% static 'Imagenes/administrativo.png' %}" 
                 alt="imagen para recuperar el nombre usuario">
            <p>Administrativo</p>
        </a>
    </div>

    <div class="registro_personal">
        
            <img src="{% static 'Imagenes/estudiante.png' %}" 
                 alt="imagen para recuperar el nombre usuario">
            <p>Estudiante</p>
        </a>
    </div>
                                           
</section>

{% endblock %}