{% if request.session.registro_completado %}
        <aside id="barra_lateral">
            <h3 class="menu-title">MENÚ</h3>    
            
            {% if "Director General" in request.session.perfil %}
                <a href="{% url 'panel_usuario' %}">Inicio</a>
                <a href="{% url 'pre_registro_personal' %}">Pre Registro Personal</a>
                <a href="{% url 'modulo_pnf' %}">P.N.F</a>
                <a href="{% url 'modulo_nucleo' %}">Núcleo</a>
                <a href="{% url 'modulo_seccion' %}">Sección</a>
                <a href="{% url 'modulo_trayecto' %}">Trayecto</a>
                <a href="{% url 'modulo_materia' %}">Materia</a>
                <a href="{% url 'modulo_aula_academica' %}">Aulas Académicas</a>
                <a href="{% url 'modelo_calendario_academico' %}">Calendario Académico</a>
                <a href="{% url 'actualizar_datosusuario' %}">Actualizar Datos Báisca</a>
                <a href="{% url 'modulo_asignar_materia_docente' %}">Asignar Materia a Docente</a>
                <a href="{% url 'modulo_horario_academico' %}">Horario Académico</a>
                <a href="{% url 'modulo_autoridades' %}">Autoridades</a>
                <a href="{% url 'modulo_actualizar_usuarios' %}">Actualizar Datos Usuarios</a>
                <a href="{% url 'inscripcion_estudiante' %}">Inscripción Estudiante</a>
            {% endif %}

            {% if "Encargado de Control de Estudio" in request.session.perfil %}
            {% endif %}

            {% if "Coordinador de PNF" in request.session.perfil %}
            {% endif %}

            {% if "Docente" in request.session.perfil %}
                
            {% endif %}

            {% if "Estudiante" in request.session.perfil %}
                
            {% endif %}
        </aside>
    {% endif %}