{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Imagenes/UPT_LOGO.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Estilos/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'Estilos/Estructura/estilos.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    
    <title>UPT José Félix Ribas</title>
</head>
<body class="{% if request.session.usuario_nombre %}body-logueado{% endif %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    {% include 'Estructura/Encabezado.html' %}

    {% if request.session.usuario_nombre %}
        {% include 'Estructura/Barra_lateral.html' %} 
    {% endif %}

    <main class="{% if request.session.usuario_nombre %}main-logueado{% endif %}">
    {% block content %}

    {% endblock %}
    </main>
    
    {% if not request.session.usuario_nombre %}
        {% include 'Estructura/Pie_Pagina.html' %} 
    {% endif %}
</body>
</html>