{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_autoridades_visualizar">
    <div class="contenedor_modulo_autoridades">
        <h3>Gestión de Autoridades</h3>

        <div class="card_visualizar_autoridades">
            <h4>Buscar Autoridades</h4>

            <!-- ENVOLTORIO RESPONSIVE PARA TABLAS -->
            <div class="contenedor_tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula de Identidad</th>
                            <th>Cargo</th>
                            <th>Resolución</th>
                        </tr>
                    </thead>
                    <tbody id="contenedor_autoridades">
                        <!-- Filas renderizadas dinámicamente por JS -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Autoridad/visualizar_autoridad.js' %}"></script>

{% endblock %}