{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="secciones_registrado">
    <div class="contenedor_secciones_registrado">
        <h3>Sección U.P.T "José Félix Ribas"</h3>

        <div class="contenedor_registrar_secciones">
            <h4>Registrar Sección</h4>

            <form method="post" id="formulario_registrar">
                {% csrf_token %}
                <label for="registro_seccion">Sección:</label>
                <input type="text" name="registro_seccion" placeholder="Nombre de Sección 5 maximo caracteres."  maxlength="5" autocomplete="off" id="registro_seccion">
                <small id="mensaje_nombre_seccion"></small>

                <label for="registro_turno">Turno:</label>
                <select name="registro_turno" id="registro_turno">
                    <option value="">Selecciona el Turno Académico</option>
                    <option value="Diurno">Diurno</option>
                    <option value="Nocturno">Nocturno</option>
                    <option value="Fin de Semana">Fin de Semana</option>
                </select>
                <small id="mensaje_aula_academica"></small>
            
                <input type="submit" id="btn_registro" value="Registrar Sección">
            </form>
        </div>
        
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Seccion/registrar_sesccion.js' %}"></script>

{% endblock %}