{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="secciones_registrado">
    <div class="contenedor_secciones_registrado">
        <h2>Sección U.P.T "José Félix Ribas"</h2>

        <h3>Visualizar Sección</h3>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SECCIÓN</th>
                    <th>TURNO</th>
                </tr>
            </thead>
            <tbody id="contenedor_secciones"></tbody>
        </table>
    </div>
</section>

<dialog id="dialogo_actualizar_secciones">
    <div class="contenedor_actualizar_secciones">
        <i id="cerrar_dialogo" class="icon-cancel-circled"></i>
        <h4>Modificar Núcleo</h4>

        <form method="post" id="formulario_actualizar_seccion">
            {% csrf_token %}
            <input type="hidden" name="seccion" id="secciones_seleccionado">

            <label for="actualizar_seccion_registrado">Sección:</label>
            <input type="text" name="actualizar_seccion" id="actualizar_seccion_registrado">
            <small id="mensaje_actualizar_seccion"></small>

            <label for="actualizar_turno_registrado">Turno:</label>
            <select name="actualizar_turno" id="actualizar_turno_registrado"></select>
            
            <input type="submit" id="btn_actualizar" value="Actualizar Sección">
        </form>
    </div>
</dialog>

<script src="{% static 'Funciones_Asincronas/Director_General/Seccion/visualizar_seccion.js' %}"></script>

{% endblock %}