@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('encabezado.css');
@import url('barra_lateral.css');
@import url('pie_pagina.css');

@import url('foro.css');
@import url('Historia.css');
@import url('mision_vision.css');
@import url('Proyectos.css');
@import url('Trayectos.css');
@import url('carreras_impartidas.css');

@import url('formulario_inicio_sesion.css');
@import url('formularios_recuperar_credenciales.css');
@import url('formularios_registros.css');

@import url('inscripcion.css');
@import url('info_sedes.css');

@import url('mantenimiento.css');

@import url('continuacion.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}