{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_materias_visualizar">
    <div class="contenedor_modulo_materias">
        <h3>Materias UPT "José Félix Ribas"</h3>

        <div class="card_visualizar_materias">
            <h4>Vista General de Materias</h4>

            <!-- FORMULARIO DE FILTRO POR PNF -->
            <form method="post" id="buscar_materia">
                {% csrf_token %}

                <div class="campo_busqueda">
                    <label for="buscar_pnf">Seleccionar P.N.F:</label>
                    <select name="buscarpnf" id="buscar_pnf">
                        <!-- Carga dinámica mediante JS -->
                    </select>
                </div>
            </form>


        <h3>Actuailizar Materias</h3>

        <form method="post" id="actualizar_materia">
            {% csrf_token %}
            <input type="hidden" name="materiaseleccionado" id="materia_seleccionado">

            <label for="nombres_actualizar_materias">Nombre de la Materia:</label>
            <input type="text" name="nombresmaterias" id="nombres_actualizar_materias" autocomplete="off" required>

            <label for="THEA">Hora Trabajo Estudio Acompañado:</label>
            <input type="text" name="THEA" id="THEA" pattern="[0-9]{1,2}" maxlength="2" inputmode="numeric" placeholder="Hora de Trabajo de Estudio Acompañado" autocomplete="off" required>
            
            <label for="THEI">Hora Trabajo Estudio Independiente:</label>
            <input type="text" name="THEI" id="THEI" pattern="[0-9]{1,2}" maxlength="2" inputmode="numeric" placeholder="Hora de Trabajo de Estudio Independiente" autocomplete="off" required>

            <label for="reparacion_actualizar_materia">Reparación Materia:</label>
            <select name="reparacionmateria" id="reparacion_actualizar_materia">
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select> 
            
            <label for="pnfs_actualizar_materia">P.N.F que Pertenece la Materia:</label>
            <select name="pnfmateria" id="pnfs_actualizar_materia"></select> 

            <input type="submit" id="btn_registrar" value="Actualizar Materia">
        </form>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Materia/visualizar_materia.js' %}"></script>

{% endblock %}