{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="completar_registro_pe">
    <div class="contenedor_completar_regitro_pe">
        <h3>Completar Registro</h3>

        <form method="post" id="formulario_pe">
            {% csrf_token %}
            <div id="contenedor_PE_Representante">
                <h4>Datos de Contacto Auxiliar</h4>

                <div class="campo">
                    <label for="nombresrepresentante">Nombres del Representante:</label>
                    <input type="text" name="nombres_representante" id="nombresrepresentante" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="apellidosrepresentante">Apellidos del Representante:</label>
                    <input type="text" name="apellidos_representante" id="apellidosrepresentante" autocomplete="off">
                </div>
                <div class="campo">
                    <label for="cedula_identidad2">Cédula de Identidad:</label>
                    <div class="campo_horizontal">
                        <select name="nacionalidad_representante" id="nacionalidad2">
                            <option value="">N</option>
                            <option value="V">V</option>
                            <option value="E">E</option>
                        </select>
                        <input type="text" name="ci_representante" id="cedula_identidad2" autocomplete="off">
                    </div>
                </div>
                <div class="campo">
                    <label for="numero_telefono2">Teléfono:</label>
                    <div class="campo_horizontal">
                        <select name="prefijo_num2" id="prefijo_telefono2"></select>
                        <input type="text" name="telefono_representante" maxlength="7" minlength="7" id="numero_telefono2" placeholder="Número telefónico debe llevar 7 dígitos" autocomplete="off">
                    </div>
                </div>
                <div class="campo">
                    <label for="parestenco">Parentesco:</label>
                    <select name="parestencorepresentante" id="parestenco"></select>
                </div>

                <button type="button" id="btn_otro_representante">Agregar segundo representante</button>

                <div id="subcontenedor_representante" style="display:none;">
                    <div class="campo">
                        <label for="nombresotrorepresentante">Nombres Segundo Representante:</label>
                        <input type="text" name="nombres_otrorepresentante" id="nombresotrorepresentante" autocomplete="off">
                    </div>
                    <div class="campo">
                        <label for="apellidosotrorepresentante">Apellidos Segundo Representante:</label>
                        <input type="text" name="apellidos_otrorepresentante" id="apellidosotrorepresentante" autocomplete="off">
                    </div>
                    <div class="campo">
                        <label for="cedula_identidad3">Cédula Segundo Representante:</label>
                        <div class="campo_horizontal">    
                            <select name="nacionalidad_otrorepresentante" id="nacionalidad3">
                                <option value="">N</option>
                                <option value="V">V</option>
                                <option value="E">E</option>
                            </select>
                            <input type="text" name="ci_otrorepresentante" id="cedula_identidad3" autocomplete="off">
                        </div>
                    </div>
                    <div class="campo">
                        <label for="numero_telefono3">Teléfono:</label>
                        <div class="campo_horizontal">
                            <select name="prefijo_num3" id="prefijo_telefono3"></select>
                            <input type="text" name="telefono_otrorepresentante" maxlength="7" minlength="7" id="numero_telefono3" placeholder="Número telefónico debe llevar 7 dígitos" autocomplete="off">
                        </div>
                    </div>
                    <div class="campo">
                        <label for="otroparestenco">Parentesco:</label>
                        <select name="parestencootrorepresentante" id="otroparestenco"></select>
                    </div>
                </div>   
            </div>

            <div class="contenedor_PE_Secundaria">
                <h4>Datos de Secundaria</h4>

                <div class="campo">
                    <label for="tipos_secundaria">Tipo de Liceo:</label>
                    <select name="tipos_secundaria" id="tipos_secundaria">
                        <option value="">Elije una opción</option>
                        <option value="Público">Público</option>
                        <option value="Privado">Privado</option>
                    </select>
                </div>
                
                <div class="campo">
                    <label for="nombre_secundaria">Nombre del Liceo:</label>
                    <input type="text" name="nombre_secundaria" id="nombre_secundaria" autocomplete="off">
                </div>

                <div class="campo">
                    <label for="fecha_grado">Fecha de Grado:</label>
                    <input type="date" name="fecha_graduacion" id="fecha_grado">
                </div>

                <div class="campo">
                    <label for="codigo_sin_opsu">Código SNI OPSU:</label>
                    <input type="text" name="codigo_opsu" id="codigo_sin_opsu" autocomplete="off">
                </div>
            </div>

            <div id="contenedor_PE_Discapacidad">
                <div class="encabezado_discapacidad">
                    <h4>Datos de Discapacidad (Opcional)</h4>
                    <button type="button" id="btn_discapacidad">
                        Mostrar
                    </button>
                </div>

                <div id="campos_discapacidad">
                    <div class="campo">
                        <label for="codigo_carnet_dispacidad">Carnet de Discapacidad:</label>
                        <input type="text" name="carnet_dispacidad" id="codigo_carnet_dispacidad" autocomplete="off">
                    </div>

                    <div class="campo">
                        <label for="nro_registro_medico">Nro de Registro Médico:</label>
                        <input type="text" name="registro_medico" id="nro_registro_medico" autocomplete="off">
                    </div>

                    <div class="campo">
                        <label for="tipos_discapacidad">Tipo de Discapacidad:</label>
                        <select name="tipos_discapacidad" id="tipos_discapacidad">
                            <option value="">Elije una opción</option>
                            <option value="Visual">Visual</option>
                            <option value="Auditiva">Auditiva</option>
                            <option value="Lengauje">Lengauje</option>
                            <option value="Intelectual">Intelectual</option>
                            <option value="Autista">Autista</option>
                            <option value="Fisica y Motora">Fisica y Motora</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    
                    <div class="campo">
                        <label for="grado_discapacidad">Grado de Discapacidad:</label>
                        <select name="grado_discapacidad" id="grado_discapacidad">
                            <option value="">Elije una opción</option>
                            <option value="Leve">Leve</option>
                            <option value="Moderada">Moderada</option>
                            <option value="Grave">Grave</option>
                        </select>
                    </div>

                    <div class="campo">
                        <label for="causa_discapacidad">Causa de Discapacidad:</label>
                        <select name="causa_discapacidad" id="causa_discapacidad">
                            <option value="">Elije una opción</option>
                            <option value="Congenita">Congenita</option>
                            <option value="Adquirida">Adquirida</option>
                        </select>
                    </div>
                </div>
            </div> 
            
            <div id="contenedor_PE_Cursar">
                <h4>Datos de Núcleo y PNF</h4>

                <label for="nucleo_Barinas">Núcleo Barinas<input type="checkbox" name="nucleoBarinas" id="nucleo_Barinas" value="Barinas"></label>
                <div id="contenedor_pnfs_Barinas"></div>

                <label for="nucleo_Barinitas">Núcleo Barinitas<input type="checkbox" name="nucleoBarinitas" id="nucleo_Barinitas" value="Barinitas"></label>
                <div id="contenedor_pnfs_Barinitas"></div>

                <label for="nucleo_Sopoco">Núcleo Sopoco<input type="checkbox" name="nucleoSopoco" id="nucleo_Sopoco" value="Sopoco"></label>
                <div id="contenedor_pnfs_Sopoco"></div>

                <label for="nucleo_Pedraza">Núcleo Pedraza<input type="checkbox" name="nucleoPedraza" id="nucleo_Pedraza" value="Pedraza"></label>
                <div id="contenedor_pnfs_Pedraza"></div>
            </div>

            <div class="contenedor_registrar_documento">
                <h4>Documentos</h4>

                <div class="campo">
                    <label for="documentoCI_estudiante">Cedula de Identidad:</label>
                    <input type="file" name="CI_estudiante" id="documentoCI_estudiante">
                </div>
                <div class="campo">
                    <label for="documentoTB_estudiante">Titulo de Bachiller:</label>
                    <input type="file" name="TBachiller_estudiante" id="documentoTB_estudiante">
                </div>
                <div class="campo">
                    <label for="documentoSN_estudiante">Sabana de Notas:</label>
                    <input type="file" name="SNotas_estudiante" id="documentoSN_estudiante">
                </div>
                <div class="campo">
                    <label for="documentoOPSU_estudiante">Certificado SNI OPSU:</label>
                    <input type="file" name="OPSU_estudiante" id="documentoOPSU_estudiante">
                </div>
            </div>

            <input type="submit" value="Completar el Registro">
        </form>
    </div>
</section>

<script src="{% static 'Funcionalidades/parentesco.js' %}"></script>
<script src="{% static 'Funcionalidades/telefono_num2.js' %}"></script>
<script src="{% static 'Funcionalidades/cedula_identidad_num2.js' %}"></script>
<script src="{% static 'Funcionalidades/discapacidad.js' %}"></script>

<script src="{% static 'Funciones_Asincronas/completar_registro_pe.js' %}"></script>

{% endblock %}  