{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="pnfs_modificar">
    <div class="contenedor_pnfs_modificar">
        <h3>Programa Nacional de Formación</h3>

        <div class="card_modificar_pnf">
            <h4>Modificar PNF</h4>

            <!-- FORMULARIO 1: BÚSQUEDA -->
            <form method="post" id="formulario_buscar">
                {% csrf_token %}
                <div class="campo_buscar">
                    <label for="codigo_pnf">Seleccione el PNF a Modificar:</label>
                    <div class="grupo-campo">
                        <input type="text" name="codigo" id="codigo_pnf" maxlength="8" minlength="8" pattern="[A-Z]{5}[0-9]{3}" title="Debe contener 5 letras mayúsculas y 3 números. Ejemplo: CARRE010" placeholder="Ingrese el código del PNF" autocomplete="off" required>
                        <input type="submit" id="btn_buscar" value="Buscar PNF">
                    </div>
                </div>
            </form>

            <hr class="separador">

            <!-- FORMULARIO 2: EDICIÓN -->
            <form method="post" id="formulario_actualizar">
                {% csrf_token %}
                <input type="hidden" name="pnfseleccionado" id="pnf_seleccionado">

                <!-- FILA DE EDICIÓN: Nombre y Periodo lado a lado -->
                <div class="fila-campos">
                    <div class="campo">
                        <label for="actualizar_nombre_pnf">Nombre del PNF:</label>
                        <input type="text" name="nombrepnf" id="actualizar_nombre_pnf" autocomplete="off" placeholder="Nombre a actualizar">
                    </div>

                    <div class="campo">
                        <label for="actualizar_periodo_academico">Periodo Académico:</label>
                        <select name="periodoacademico" id="actualizar_periodo_academico">
                            <option value="Trimestre">Trimestre</option>
                            <option value="Semestre">Semestre</option>
                        </select>
                    </div>
                </div>

                <input type="submit" id="btn_actualizar" value="Actualizar PNF">
            </form>
        </div>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/PNF/actualizar_pnf.js' %}"></script>

{% endblock %}