{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="pnfs_visualizado">
    <div class="contenedor_pnfs_visualizado">
        <h3>Programa Nacional de Formación</h3>

        <div id="tabla_pnfs">
            <h4>PNFs Registrados</h4>

            <!-- Envoltorio responsive para scroll horizontal -->
            <div class="contenedor_tabla">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PNF</th>
                            <th>Código</th>
                            <th>Periodo Académico</th>
                        </tr>
                    </thead>
                    <tbody id="pnfs_registrados">
                        <!-- Los datos de los PNFs se cargarán aquí mediante JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/PNF/visualizar_pnf.js' %}"></script>

{% endblock %}