{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section class="carrusel">
    <div class="slides" id="slides"></div>
</section>

<section id="Contenido" class="reveal mantenimiento-section">
    <div class="contenedor-mantenimiento">
        <div class="icono-animado">⚙️</div> <h1 class="titulo-mantenimiento">MÓDULO EN CONSTRUCCIÓN</h1>
        <h6 class="subtitulo">En Mantenimiento!</h6>
        <div class="barra-progreso">
            <div class="linea-progreso"></div>
        </div>
    </div>
</section>

<script src="{% static 'Funcionalidades/info_sedes.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/nucleo_seleccionado.js' %}"></script>

{% endblock %}
