{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="Contenido" class="reveal">
    <div class="contenedor">
        <h2>Acerca de la Universidad</h2>
        <p>En la Universidad Politécnica Territorial del Estado Barinas “José Félix Ribas” se imparten cuatro carreras bajo dos modalidades de formación: Técnico Superior Universitario (TSU) e Ingeniería. La modalidad TSU tiene una duración de dos años y está diseñada para preparar a los estudiantes con un enfoque orientado a la práctica profesional, permitiendo su rápida inserción en el campo laboral. A diferencia de otros programas técnicos que se centran exclusivamente en la ejecución operativa, esta institución ofrece un enfoque equilibrado de 50% teoría y 50% práctica, con el objetivo de que los estudiantes adquieran tanto habilidades técnicas como fundamentos conceptuales sólidos. El plan de estudios busca desarrollar competencias aplicadas, operativas y funcionales dentro de una profesión, sin dejar de lado el análisis y la comprensión teórica que respaldan dichas prácticas.

        Por su parte, la Ingeniería representa el nivel profesional superior y tiene también una duración de dos años adicionales, como una continuación del trayecto académico iniciado en el TSU. Esta fase está orientada al desarrollo de capacidades más complejas como el análisis, diseño, planificación, gestión y solución de problemas técnicos y científicos. El ingeniero egresado de esta universidad recibe una formación más completa y profunda en áreas como matemáticas, física, investigación, liderazgo y gestión de proyectos, lo que le permite no solo ejecutar tareas especializadas, sino también liderar equipos, asumir responsabilidades estratégicas y tomar decisiones críticas dentro de organizaciones públicas o privadas. Esta formación integral le proporciona las herramientas necesarias para innovar y adaptarse a las exigencias del mundo profesional actual.</p>
    </div>
</section>

{% endblock %}