{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="PSC" class="reveal">
    <div class="contenedor layout-2">
        <div class="col-1">
            <img src="{% static 'Imagenes/Proyecto_Comunitario.jpg' %}" alt="">
        </div>
        <div class="contenedor-info ">
            <h2>Proyecto Socio-Comunitario</h2>
            <p>El Servicio Comunitario es una actividad obligatoria para los estudiantes de educación superior en Venezuela, establecida por la Ley de Servicio Comunitario del Estudiante de Educación Superior (2005). Su objetivo es fomentar valores de solidaridad, responsabilidad social y participación ciudadana mediante proyectos que beneficien a las comunidades. Para cumplir con este requisito, el estudiante debe haber aprobado al menos el 50% de su carga académica y realizar un mínimo de 120 horas de servicio.</p>

            <p>En la Universidad Politécnica Territorial del Estado Barinas “José Félix Ribas”, el servicio comunitario permite a los estudiantes aplicar sus conocimientos en proyectos orientados al desarrollo de las comunidades. Puede realizarse a partir del Trayecto 2, Tramo 1 (T2T1), siempre que se hayan aprobado las unidades curriculares del Trayecto 1 y el Programa de Iniciación Universitaria (PIU), fortaleciendo así la formación integral y el compromiso social de los futuros profesionales.</p>
        </div>

        <div class="contenedor-info">
            <details class="psc-details">
                <summary>Requisitos para realizar el Proyecto Socio Comunitario</summary>

                <div class="psc-details-content">
                    <ul>
                        <li>La Planilla de Inscripción en Digital.</li>
                        <li>Carta de aceptación = de Institución, Consejo Comunal.</li>
                        <li>Situacion Académica (Constancia de Notas).</li>
                        <li>Constancia de Tutor</li>
                        <li>Copia de la Cedula</li>
                        <li>Foto Tipo Carnet</li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</section>

{% endblock %}